*{
  background-color: 	#191414;
  font-family: 'Anton', sans-serif;
  font-family: 'Fuzzy Bubbles', cursive;
  color: white;
}

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
