
<div class="cont">
  <app-navbar></app-navbar>

  <app-play></app-play>

  <br>
  <h1>PlayList Number: {{pid}}</h1>
  <div class="btn">
    <button (click)="playPrevious()"><i class="fa fa-backward"></i></button>
    <button (click)="playNext()"><i class="fa fa-forward"></i></button>
  </div>
  <div class="tab">
    <table class="table table-dark">
      <tbody>
        <tr *ngFor="let song of songsData">
          <td>{{song.sName}}</td>
          <td><img src={{song.sUrl}} alt="" srcset=""></td>
          <td>
            <audio controls autoplay style="width: 10rem;">

              <source src={{song.sSrc}} type="audio/mpeg">
              Your browser does not support the audio tag.
            </audio>
          </td>

        </tr>
      </tbody>
    </table>
    <div class="s" *ngIf="end">
      End Of playlist
    </div>
  </div>
  <div class="s" *ngIf="begin">
    Click on next to begin Next Song
  </div>
</div>
